.currentSelection{
    direction: rtl;
    width: 338px;
    padding-right: 40px;
    padding-left: 20px;
}

.ListTitle{
    font-weight: bold;
    font-size: large;
}

.selectionRow{
    direction: rtl;    
}

.orderKey{
    font-weight: bold;
    font-size: 23px;
}

.orderValue{
    font-weight: light;
    font-size: 12px;
}
/* .Selectionlist{
    font-weight: lighter;
} */

