.enabled {
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    text-align: center;
    width: 210px;
    height: 62px;
    border: none;
}
.disabled {
    border: none;
    background: #C5C5C5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    color: darkgray;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    text-align: center;
    width: 210px;
    height: 62px;
    pointer-events: none;
}


@media (max-width: 1500px) {
    .enabled, .disabled{
      height: 30px;
    }
   }