.header {
  border-bottom: solid 2px black;
  width: 100%;
  height: 95px;
  padding: 2px;
  position: relative;
}

.logo {
  position: absolute;
  padding-top: 13px;
  left: 0;
  padding-left: 28px;
  width: 188px;
  height: 69px;
  
}
