@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  --main-color:#223333;
  --pay-button:#C2A39A;
  --text-color:#F5F5F5;
  --shadow:#00000040;
  --text:#000000DE;
}

body{
  font-family: 'Assistant', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
