/* Creator : didi */

.containerGrid {
    display: grid;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    grid-template-areas:
        "h h h"
        "sl ms sr"
        "c c sr";
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 95px 1fr 150px;
}

.h {
    grid-area: h;
    /* overflow: hidden; */
}

.sl {
    grid-area: sl;
    /* overflow: hidden; */
}

.ms {
    grid-area: ms;
    overflow: hidden;
}

.sr {
    grid-area: sr;
    /* overflow: hidden; */
}

.c {
    grid-area: c;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.sr {
    grid-area: sr;
}
.containerBty_ProgressBar button{
    box-shadow: 0px 3px 5px rgb(121, 121, 121);
    
}

.nextButton{
    color : white;
    width : 230px;
    height : 52px;
    background-color: #C2A39A;
    border-radius: 50px;
    justify-content: center;
    font-size: 25px;
    border: 0;
    /* font-weight: bold; */
    
}