.form {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paymentPage {
  /* align-items: stretch;
  align-content: flex-end; 
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto ; */
  background-color: #F2F2F2;
  /* background-color: #c01313; */
  width: 381px;
  text-align:right ;
}
.inputs{
  flex-direction: row-reverse;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
  align-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* border: red groove 1px; */
}
